# ── Backend ─────────────────────────────────────────────────────
APP_ID=                   # Application ID
APP_SECRET=               # Application secret (used for JWT signing)

# ── Database ───────────────────────────────────────────────────
DATABASE_URL=             # MySQL connection string (mysql://user:pass@host:port/db)
