# Environment variables
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3
db/migrations/*.sql

# TypeScript cache
*.tsbuildinfo

# Build outputs
dist/
build/

# Test coverage
coverage/
.nyc_output/

# Logs
*.log
